<!-- sideNav Template -->
<script type="text/x-template" id="sidenav-template">
    <div>
        <div id="sideNav" class="sideNav">
            <a href="javascript:void(0)" class="closebtn" id="closeNavButton">
                Menu
            </a>
            <a href="#" data-toggle="modal" data-target="#fileModal">
                Open File
            </a>
            <a href="#">
                Local Network
            </a>
            <a href="#">
                Podcast
            </a>
            <a href="#" data-toggle="modal" data-target="#streamManagerModal">
                Manage Streams
            </a>
            <a href="#" data-toggle="modal" data-target="#trackSyncModal">
                Track Synchronization
            </a>
            <a href="#" data-toggle="modal" data-target="#vlmModal">
                VLM Batch Commands
            </a>
        </div>
        <span id="openNavButton">
            <svg-icon name="menu"></svg-icon>
        </span>
    </div>
</script>
